<template>
  <div>
    <div class="ui centered card" v-for="todo in todos">
      <div class="content" v-show="!todo.isEditing">
        <div class="header">
          {{ todo.title }}
        </div>
        <div class="meta">
          {{ todo.description }}
        </div>
        <div class="extra content">
          <span class="right floated edit icon" v-on:click="showForm(todo)">
            <i class="edit icon"></i>
          </span>
          <span class="right floated trash icon" v-on:click="deleteTodo(todo)">
            <i class="trash icon"></i>
          </span>
        </div>
      </div>
      <div class="content" v-show="todo.isEditing">
        <div class="ui form">
          <div class="field">
            <label>Title</label>
            <input type="text" v-model="todo.title">
          </div>
          <div class="field">
            <label>Description</label>
            <input type="text" v-model="todo.description">
          </div>
          <div class="ui two button attached buttons">
            <button class="ui basic blue button" v-on:click="hideForm(todo)">
              Close X
            </button>
          </div>
        </div>
      </div>
      <div class="ui bottom attached green basic button" v-show="!todo.isEditing && todo.status">
        Completed
      </div>
      <div class="ui bottom attached red basic button" v-show="!todo.isEditing && !todo.status" v-on:click="completeTodo(todo)">
        Pending
      </div>
    </div>   
    <div class="ui basic content center aligned segment">
      <button class="ui basic button icon" v-on:click="openForm()" v-show="!isCreating">
        <i class="plus icon"></i>
      </button>
      <div class="ui centered card" v-show="isCreating">
        <div class="content">
          <div class="ui form">
            <div class="field">
              <label>Title</label>
              <input v-model="titleText" type="text" ref="title" defaultValue="">
            </div>
            <div class="field">
              <label>Description</label>
              <input v-model="descriptionText" type="text" ref="description" defaultValue="">
            </div>
            <div class="ui two button attached buttons">
              <button class="ui basic blue button" v-on:click="sendForm()">
                Create
              </button>
              <button class="ui basic red button" v-on:click="closeForm()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TodoList',
    props: ['todos'],
    data () {
      return {
        titleText: '',
        descriptionText: '',
        isCreating: false
      }
    },
    methods: {
      showForm (todo) {
        todo.isEditing = true
      },
      hideForm (todo) {
        todo.isEditing = false
      },
      deleteTodo (todo) {
        const todoIndex = this.todos.indexOf(todo)
        this.todos.splice(todoIndex, 1)
      },
      openForm () {
        this.isCreating = true
      },
      closeForm () {
        this.isCreating = false
      },
      sendForm () {
        if (this.titleText.length > 0 && this.descriptionText.length > 0) {
          const title = this.titleText
          const description = this.descriptionText
          this.todos.push({
            title: title,
            description: description,
            status: false,
            isEditing: false
          })
          this.titleText = this.descriptionText = ''
          this.isCreating = false
        }
      },
      completeTodo (todo) {
        const todoIndex = this.todos.indexOf(todo)
        this.todos[todoIndex].status = true
      }
    }
  }
</script>

<style>
</style>