<template>
  <div id="app">
    <h1>Todo App</h1>
    <router-view v-bind:todos="todos"></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app',
    // data function avails data to the template
    data () {
      return {
        todos: [{
          title: 'Todo A',
          description: 'Project A',
          status: false,
          isEditing: false
        }, {
          title: 'Todo B',
          description: 'Project B',
          status: true,
          isEditing: false
        }, {
          title: 'Todo C',
          description: 'Project C',
          status: false,
          isEditing: false
        }, {
          title: 'Todo D',
          description: 'Project D',
          status: false,
          isEditing: false
        }]
      }
    }
  }
</script>

<style>
  h1 {
    text-align: center;
  }
  #app {
    padding: 20px;
  }
</style>
